<html>
<head>
<title>Banking Transaction details</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style type="text/css">
  body
    {
        background:#f2f2f2;
    }

    .payment
  {
    border:1px solid #f2f2f2;
    height:280px;
        border-radius:20px;
        background:#fff;
  }
   .payment_header
   {
     background:rgba(255,102,0,1);
     padding:20px;
       border-radius:20px 20px 0px 0px;
     
   }
   
   .check
   {
     margin:0px auto;
     width:50px;
     height:50px;
     border-radius:100%;
     background:#fff;
     text-align:center;
   }
   
   .check i
   {
     vertical-align:middle;
     line-height:50px;
     font-size:30px;
   }

    .content 
    {
        text-align:center;
    }

    .content  h1
    {
        font-size:25px;
        padding-top:25px;
    }

    .content a
    {
        width:200px;
        height:35px;
        color:#fff;
        border-radius:30px;
        padding:5px 10px;
        background:rgba(255,102,0,1);
        transition:all ease-in-out 0.3s;
    }

    .content a:hover
    {
        text-decoration:none;
        background:#000;
    }
</style>
</head>
<body>
	<div class="container">
   <div class="row">
      <div class="col-md-6 mx-auto mt-5">
         <div class="payment">
            <div class="payment_header">
               <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="content">
               <h1>Payment Success !</h1>
              <table>
               <% transItems.forEach(function(item){ %>
            <tr>
              <td>Transaction Id:</td>
              <td><%= item.transId %></td>
            </tr>
            <tr>
              <td>From          :</td>
              <td><%= item.From %></td>
            </tr>
            <tr>
              <td>To            :</td>
              <td><%= item.To %></td>
            </tr>
            <tr>
              <td>Time          :</td>
              <td><%= item.Time %></td>
            </tr>
            <tr>
              <td>Amount        :</td>
              <td><%= item.Amount %></td>
            </tr>
            <% }) %>
          </table>
            </div>
            
         </div>
      </div>
   </div>
</div>
<center><a href="/backtoresults"><button class="btn btn-secondary btn-lg">BacktoResults</button></a></center>
</body>
</html>